# IDE files
*.iml
.gradle
/local.properties
/.idea/
.DS_Store

# Build output
/build
/captures
.externalNativeBuild
.cxx

# Kotlin build cache
/.kotlin/

# Backend specific
/backend/build/
/backend/google-services.json
